<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-annotation:war exploded">
    <output-path>$PROJECT_DIR$/spring-mvc/spring-mvc-annotation/target/spring-mvc-annotation-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-annotation" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: commons-lang:commons-lang:2.6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-mvc/spring-mvc-annotation/target/spring-mvc-annotation-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc-annotation/web/Web" />
    </root>
  </artifact>
</component>